/* Propriétés Générales */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
  font-style: medium;
  font-size: 1.4rem;
}

/* Partie Header */

#wrapper {
  margin: 0 auto 0 auto;
  max-width: 1440px;
  padding-left: 30px;
}

header {
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.navbar-container {
  flex-grow: 5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: transparent;
}

.logo {
  flex-grow: 6;
  /* max-width: 100%; */
  /* width: 95%; */
  align-self: center;
  /* padding: 30px 0px 30px 20px; */
}

/* Zone Héb & Act */
.navbar-container ul {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Hébérgements */
#wrapper > header > nav > ul > li:nth-child(1) {
  flex: 1 1 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 50px;
  border-top: 3px solid #f2f2f2;

  /* border: 3px solid black; */
}

/* Activités */
#wrapper > header > nav > ul > li:nth-child(2) {
  flex: 1 1 100%;
  align-items: center;
  text-align: center;

  padding-top: 47px;
  padding-bottom: 50px;
  border-top: 3px solid #f2f2f2;

  /* border: 3px solid black; */
  justify-content: center;
}

#wrapper > header > nav > ul > li:nth-child(1):hover {
  border-top: 3px solid #0065fc;

  /* color: #0065fc; */
  /* color: #0065fc; */
}

#wrapper > header > nav > ul > li:nth-child(2):hover {
  border-top: 3px solid #0065fc;
  /* text-decoration-color: #0065fc; */
}

/* Selecteur DE SECTION Bordure bleu */

.login {
  display: flex;
  padding: 47px 20px 50px 0px;
  font-weight: bold;
  border: none;
  background: none;
  color: #0065fc;
  font-style: bold;
  cursor: grab;
}

/*SECTION 1 RECHERCHE + FILTRE*/

#recherche > h1 {
  padding: 0 0 15px;
}

#recherche {
  /* width: 95%; */
  margin: auto;
  max-width: 1440px;
}

#inscription {
  color: #0065fc;
  font-weight: bold;
}

div.bouton_recherche {
  display: inline-flex;
  margin-top: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}

.ici {
  background-color: #f2f2f2;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
}

#rechercher {
  font-size: 1rem;
  padding: 13px;
  font-weight: bold;
  border: none;
}

::-webkit-input-placeholder {
  color: black;
}

button {
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 0px 15px 15px 0px;
}

#loupe {
  display: none;
}

#box_filtres {
  flex-grow: 5;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  /* display: flex; */
  /* margin-top: 20px; */
  flex-flow: row wrap;
  font-size: 1rem;
  /* padding: 13px; */
  font-weight: bold;
}

#titre_filtres {
  margin: 0 30px 0 0;

  /* flex:  1 100%; */
  /* margin: 0px 0px 0 0; */
}

#filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  /* padding: 0; */
  list-style-type: none;
  flex-wrap: wrap;
}

.logos {
  border: 3px solid #f2f2f2;
  /* width: 220px; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 20px 10px 0 0; */
}

li:hover .logofiltre {
  cursor: pointer;
  background-color: white;
}
.logos:hover {
  background-color: #deebff;
}

.logofiltre {
  color: #0065fc;
  /* font-size: 1.4em; */
  background: #deebff;
  border-radius: 50px;
  padding: 16px;
  /* width: 30px; */
  text-align: center;
}

.nom_filtre {
  padding-left: 10px;
  /* font-size: 16px; */
  margin: 0 10px 0 0;
}

/* MOBILE */

@media screen and (max-width: 600px) {
  /* Propriétés Générales pour mobile */

  /*SECTION 1 RECHERCHE + FILTRE*/

  #bouton_rechercher {
    display: none;
  }

  .navbar-container {
    flex-wrap: wrap;
  }
  .navbar-container ul {
    display: flex;
    width: 100%;
    text-align: center;
    order: 1;
  }

  #wrapper {
    padding-left: 0px;
  }

  #wrapper > header > nav > ul > li:nth-child(1) {
    flex: 1 1 50%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
  }

  #wrapper > header > nav > ul > li:nth-child(2) {
    flex: 1 1 50%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
    /* border: 3px solid black; */
  }
  /* Bordure de sélection bleu */

  #wrapper > header > nav > ul > li:nth-child(1):hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    color: #0065fc; /*voir avec Pierre pourquoi la colour bleu ne passe pas*/
  }

  #wrapper > header > nav > ul > li:nth-child(2):hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  .logo {
    flex-grow: 6;
    max-width: 100%;
    align-self: center;
    padding: 30px 0px 30px 20px;
  }
  .login {
    padding: 47px 20px 40px 0px;
  }
  #recherche {
    padding: 20px;
  }

  #wrapper > header > nav > ul {
    padding: 0px;
  }
  #loupe {
    display: initial;
    border-radius: 10px;
  }
}
