/* Propriétés Générales */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 0;
}

a {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-weight: 700;
  font-style: medium;
  font-size: 1.4rem;
}

p {
  font-weight: 500;
  font-style: Thin 100;
}

#content {
  margin: 0 auto 0 auto;
  padding: 0 2em 0 2em;
  width: 100%;
  max-width: 85rem;
  margin-inline: auto;
  /* display: flex; */
  flex-flow: row wrap;
  gap: 1em;
  /* flex-direction: column; */
}

/* Partie Header */

header {
  display: flex;
  max-width: 1440px;
}

.navbar-container {
  flex-grow: 5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: transparent;
}

.logo {
  flex-grow: 6;
  /* max-width: 100%; */
  /* width: 95%; */
  align-self: center;
  /* padding: 30px 0px 30px 20px; */
}

/* Zone Héb & Act */
.navbar-container ul {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Hébérgements */
#content > header > nav > ul > li:nth-child(1) {
  flex: 1 1 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 50px;
  border-top: 3px solid #f2f2f2;

  /* border: 3px solid black; */
}

/* Activités */
#content > header > nav > ul > li:nth-child(2) {
  flex: 1 1 100%;
  align-items: center;
  text-align: center;

  padding-top: 47px;
  padding-bottom: 50px;
  border-top: 3px solid #f2f2f2;

  /* border: 3px solid black; */
  justify-content: center;
}

#content > header > nav > ul > li:nth-child(1):hover {
  border-top: 3px solid #0065fc;

  /* color: #0065fc; */
  /* color: #0065fc; */
}

#content > header > nav > ul > li:nth-child(2):hover {
  border-top: 3px solid #0065fc;
  /* text-decoration-color: #0065fc; */
}

/* Selecteur DE SECTION Bordure bleu */

.login {
  display: flex;
  padding: 47px 20px 50px 0px;
  font-weight: bold;
  border: none;
  background: none;
  color: #0065fc;
  font-style: bold;
  cursor: grab;
}

/*SECTION 1 RECHERCHE + FILTRE*/

#recherche > h1 {
  padding: 0 0 15px;
}

#recherche {
  max-width: 1440px;
}

#inscription {
  color: #0065fc;
  font-weight: bold;
}

div.bouton_recherche {
  display: inline-flex;
  margin-top: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}

.ici {
  background-color: #f2f2f2;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
}

#rechercher {
  font-size: 1rem;
  padding: 13px;
  font-weight: bold;
  border: none;
}

::-webkit-input-placeholder {
  color: black;
}

button {
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 0px 15px 15px 0px;
}

#loupe {
  display: none;
}

#box_filtres {
  flex-grow: 5;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  /* display: flex; */
  /* margin-top: 20px; */
  flex-flow: row wrap;
  font-size: 1rem;
  /* padding: 13px; */
  font-weight: bold;
}

#titre_filtres {
  padding: 20px 40px 20px 0px;
  /* margin: 20px; */
  /* margin: 0 30px 0 0; */

  /* flex:  1 100%; */
  /* margin: 0px 0px 0 0; */
}

#filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 40px;
  row-gap: 5px;
  justify-content: flex-start;
  /* padding: 0; */
  list-style-type: none;
  flex-wrap: wrap;
}

.logos {
  border: 3px solid #f2f2f2;
  /* width: 220px; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 20px 10px 0 0; */
}

li:hover .logofiltre {
  cursor: pointer;
  background-color: white;
}
.logos:hover {
  background-color: #deebff;
}

.logofiltre {
  color: #0065fc;
  /* font-size: 1.4em; */
  background: #deebff;
  border-radius: 50px;
  padding: 16px;
  /* width: 30px; */
  text-align: center;
}

.nom_filtre {
  padding-left: 10px;
  /* font-size: 16px; */
  margin: 0 10px 0 0;
}

/* INFO ICON */
.info {
  display: flex;
  align-items: center;
  color: #0065fc;
}

.fa-info:before {
  content: '\f129';
  padding: 5px;
  size: 1rem;
}
.fa,
.fas {
  font-weight: 200;
}

.aspectIconInfo {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 25px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.détails-info {
  display: flex;
  align-items: center;
  color: black;
}

/* --- Design de Cartes --- */

/* ---GEneral config Cartes---*/

.carte {
  flex-direction: column;
  /* max-width: 850px; */
  height: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #797b80;
}

.etoilesbleue {
  color: #0065fc;
}
.etoilesgrise {
  color: #f2f2f2;
}

/* -- SECTION x6 Lieux Hébergement selon Ville -- */

#Cartes-héb-X6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #f2f2f2;
  max-width: 850px;
  /* margin: 20px; */
  border-radius: 20px;
}

#Cartes-héb-X6 > h2:nth-child(1) {
  display: flex;
  padding: 40px 20px 20px 30px;
  flex: 1 1 100%;
  align-items: center;
  text-align: center;
  /* margin: 20px 320px 20px 20px; */
}

.Titre-héb{
  display: flex;
  /* justify-content: center; */
}

.container-héb {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  align-content: stretch;
  border-radius: 25px;
  /* padding: 40px; */
  max-width: 420px;
}

img.img-héb {
  display: flex;
  max-width: 235px;
  width: 100%;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  margin: auto;
}


.Afficherplus{
  display: flex;
  padding: 30px 20px 40px 30px;
  flex: 1 1 100%;
  /* align-items: center; */
  /* text-align: center; */
}

/* #Cartes-héb-X6 > h2:nth-child(8) {
  display: flex;
  padding: 40px 120px 40px 30px;
} */

/* --- SECTION x3 Lieux Populaires selon Ville  --- */


#Cartes-popu-X3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #f2f2f2;
  max-width: 400px;
  /* margin: 20px; */
  border-radius: 20px;
}

#Cartes-popu-X3 > h2:nth-child(1) {
  display: flex;
  padding: 40px 20px 20px 30px;
  flex: 1 1 100%;
  align-items: center;
  text-align: center;
  /* margin: 20px 320px 20px 20px; */
}

.container-popu  {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  align-content: stretch;
  border-radius: 25px;
  /* padding: 40px; */
  max-width: 420px;
}

.Titre-popu{
  display: flex;
  /* justify-content: center; */
}

img.img-popu {
  display: flex;
  max-width: 235px;
  width: 100%;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  margin: auto;
}

/*Flex Section Popu + Héb*/

.Container-héb-popu{
  display: flex;
  justify-content: center;
  gap: 30px;
}

@container (min-width:25rem) {
  #Cartes-héb-X6 img {
    display: none;
  }
}

/* MOBILE */

@media screen and (max-width: 600px) {
  /* Propriétés Générales pour mobile */

  /*SECTION 1 RECHERCHE + FILTRE*/

  #bouton_rechercher {
    display: none;
  }

  #content > header > nav > div {
    margin-left: 1em;
  }

  .navbar-container {
    margin: 0 -2em 0 -2em;

    flex-wrap: wrap;
  }
  .navbar-container ul {
    display: flex;
    width: 100%;
    text-align: center;
    order: 1;
  }

  #content > header > nav > ul > li:nth-child(1) {
    flex: 1 1 50%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
  }

  #content > header > nav > ul > li:nth-child(2) {
    flex: 1 1 50%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
    /* border: 3px solid black; */
  }
  /* Bordure de sélection bleu */

  #content > header > nav > ul > li:nth-child(1):hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    color: #0065fc; /*voir avec Pierre pourquoi la colour bleu ne passe pas*/
  }

  #content > header > nav > ul > li:nth-child(2):hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  .logo {
    flex-grow: 6;
    max-width: 100%;
    align-self: center;
    padding: 30px 0px 30px 20px;
  }
  .login {
    padding: 47px 20px 40px 0px;
  }
  #recherche {
    padding: 20px 0 0 0;
  }

  #content > header > nav > ul {
    padding: 0px;
  }
  #loupe {
    display: initial;
    border-radius: 10px;
  }

  #filtres {
    gap: 10px;
  }
}
