/*----/Propriétés Générales/----*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}

section {
  padding: 32px 24px;
}

/* Cadrage de la page. */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  section {
    padding: 48px 32px;
  }
  .search-filters {
    padding: 48px 0;
  }
}
h1 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.inscription a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*----HEADER----*/

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo a {
  display: block;
}
.inscription {
  display: flex;
}
.inscription a {
  align-items: center;
  color: #0065fc;
  display: flex;
  font-weight: bold;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  nav {
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0;
  }

  .logo {
    margin-right: auto;
  }

  .logo a {
    padding: 16px 0;
  }

  .inscription {
    order: 1;
  }

  .inscription a {
    padding-right: 0;
  }
}

/*---NAVigation---*/

.nav-Heb-Act {
  display: flex;
  flex: 100%;
}
.header-nav {
  display: flex;
  flex: 1;
}

.nav-link-item {
  display: flex;
  flex: 1;
}

.nav-link-item a {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 16px 0;
  position: relative;
}

.nav-link-item a::after {
  background-color: #f2f2f2;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
}

.nav-link-item a:hover {
  color: #0065fc;
}

.nav-link-item a:hover::after {
  background-color: #0065fc;
}

@media screen and (min-width: 768px) {
  .nav-Heb-Act {
    flex: 0;
    padding: 0 16px;
  }

  .nav-link-item {
    display: flex;
    flex: 0;
  }

  .nav-link-item a::after {
    background-color: transparent;
    bottom: auto;
    top: 0;
  }

  .nav-link-item a {
    align-items: center;
    display: flex;
    padding: 0 32px;
  }
}

/*------ H1 RECHERCHE ET FILTRES ------*/

h1 span {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 12px;
}

/*--- RECHERCHE ---*/
form {
  margin: 2rem 0;
}

.form {
  border-color: #f2f2f2;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  height: 48px;
  max-width: 420px;
}

.form > * {
  font-size: 1rem;
}

.form label,
.form button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 3rem;
  cursor: pointer;
}
label {
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  margin: -1px 0 0 -1px;
}
input {
  border: 0;
  font-weight: bold;
  padding-left: 1rem;
  min-width: 0;
  flex: 1;
  font-family: var(--font);
}

::placeholder {
  color: black;
  opacity: 1;
}

button {
  background-color: #0065fc;
  border: 0;
  border-radius: 1rem;
  color:white;
  margin: -1px -1px 0 0;
  padding: 0;
}
button span {
  display: none;
}

@media screen and (min-width: 768px) {
  .form button {
    border-radius: 0 16px 16px 0;
  }

  .form button i {
    display: none;
  }

  button span {
    display: inline;
    padding: 0 1rem;
  }
}
