/*----/Propriétés Générales/----*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* Cadrage de la page. */
.container {
  margin: 0 auto;
  max-width: 1440px;
}

/*----HEADER----*/

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo a {
  display: block;
}
.inscription {
  display: flex;
}
.inscription a {
  align-items: center;
  color: #0065fc;
  display: flex;
  font-weight: bold;
  padding-right: 16px;
}
